/** ADD YOUR AWESOME CODES HERE **/

.ab_1 {
    height: 849px;
}

.gym_icon {
    width: 301px;
}

.c_series {
    /* width: 435px; */
    height: 467.16px;
    object-fit: cover;
}

.o1{
    height: 546px;
    object-fit: cover;
}